<link th:href="@{/plugin/jquery-easyui-1.5.2/themes/icon.css}" rel="stylesheet"/>
<link th:href="@{/plugin/jquery-easyui-1.5.2/themes/material/easyui.css}" rel="stylesheet"/>
<link th:href="@{/plugin/font-awesome-4.7.0/css/font-awesome.css}" rel="stylesheet"/>
<link th:href="@{/plugin/zTree3.5.12/css/zTreeStyle/zTreeStyle.css}" rel="stylesheet"/>
<script th:src="@{/plugin/jquery/jquery-3.2.1.js}"></script>
<script th:src="@{/plugin/jquery-easyui-1.5.2/jquery.easyui.min.js}"></script>
<script th:src="@{/plugin/jquery-easyui-1.5.2/locale/easyui-lang-zh_CN.js}"></script>
<script th:src="@{/js/commonUtil.js}"></script>
<script th:src="@{/plugin/zTree3.5.12/js/jquery.ztree.all-3.5.js}"></script>

<style>
	.iov-table-div {
		margin-top:20px;
	}
	.paramLabelTd {
		padding-left:30px;
	}
	.paramTd {
		padding-left:10px;
	}
	.topTr {
		height:10px;
	}
	.iov-param-button-first {
		margin-left:100px;
	}
	.iov-param-button {
		margin-left:10px;
	}
	.trspace {
		height:10px;
	}
	.dialog-title-p {
		margin-left:3%;
		font-size:20px;
		color:blue;
	}
	.dialog-button-p {
		text-align:center;
	}
	.dialog-hr {
		width:94%;
		margin-left:3%;
	}
	.full-width {
		width:100%;
	}
	.dialog-td-first {
		width:3%;
	}
	.dialog-td-last {
		width:3%;
	}
</style>
